.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/gradle.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
app/app.iml
backend/backend.iml
backend/build/classes/java/main/com/udacity/gradle/builditbigger/backend/MyBean.class
backend/build/classes/java/main/com/udacity/gradle/builditbigger/backend/MyEndpoint.class
backend/build/distributions/backend-discoveryDocs.zip
backend/build/endpointsDiscoveryDocs/myApi-v1-rest.discovery
